<section ng-controller="authController" class="middle">
    <div class="card shadow-lg border-0">
        <div class="row align-items-center">
            <div class="col-md-5 pr-0">
                <div class="auth-image"></div>
            </div>
            <div class="col-md pl-0">
                <div class="card-body">
                    <h4 class="card-title">{{title.split("-")[0]}}</h4>
                    <hr>

                    <div class="alert-success p-3 mb-3" ng-if="registerSuccess">
                        <i class="fas fa-circle-notch fa-spin text-light"></i>&nbsp;
                        Registration successful. Logging you in, please wait...
                    </div>

                    <form name="authForm" ng-submit="auth()">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" ng-model="user.email" autofocus required
                                id="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" ng-model="user.password" required id="password">
                        </div>

                        <div class="mb-3 text-danger" ng-if="err">
                            {{err}}
                        </div>

                        <div class="row align-items-center" ng-if="title.includes('Sign In')">
                            <div class="col-md">
                                <button type="submit" class="btn btn-primary">
                                    Continue
                                    <span ng-if="isLoading">
                                        &nbsp;<i class="fas fa-circle-notch fa-spin text-light"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="col-md text-right">
                                <a href="#" class="" ng-click="togglePage()">Register</a>
                            </div>
                        </div>

                        <div class="row align-items-center" ng-if="!title.includes('Sign In')">
                            <div class="col-md">
                                <button type="submit" class="btn btn-primary">
                                    Continue
                                    <span ng-if="isLoading">
                                        &nbsp;<i class="fas fa-circle-notch fa-spin text-light"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="col-md text-right">
                                <a href="#" class="" ng-click="togglePage()">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>